.modal 
  height: 100vh
  width: 100vw
  background-color: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  opacity: 0
  transition: 0.5s
  pointer-events: none
  z-index: 21

.modal.active
  opacity: 1
  pointer-events: all


.modal__content
  padding: 0
  background-color: #fff
  min-width: 320px
  min-height: 300px
  margin: auto 
  opacity: 0
  transition: 0.4s all
  z-index: 21

.modal__content.active  
  opacity: 1

*
  box-sizing: border-box

.menu__mobile 
  height: 100%
  width: 100%
  border-radius: 0


.menu__mobile>.modal__dialog
  height: 100%
  display: flex
  flex-direction: column
  gap: 32px

  

.menu__mobile > .modal__dialog-header
  padding: 0 

.menu__mobile
  p
    margin: 0


.modal-form
  border-radius: 16px
  .modal__dialog-body
    display: flex
    flex-direction: column
    min-height: 50vh
    max-height: 60vh
    overflow: inherit
    overflow-y: auto
    justify-content: space-between
    background: transparent
    transition: var(--modal-transition)