.form-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
}
.form-ul-radio {
  gap: 8px;
}
.form-ul li input[type='checkbox'],
.form-ul li input[type='radio'] {
  width: min-content;
}

.section__modal-starpage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 30px;
}

.modal--s .modal__dialog {
  width: 320px;
}
@media (min-width: 640px) {
  .modal--s .modal__dialog {
    width: 600px;
  }
}
.modal--m .modal__dialog {
  width: 600px;
}
.modal--l .modal__dialog {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.modal--screen-height .modal__dialog {
  max-height: var(--modal-height);
}

.modal-active {
  visibility: visible;
  opacity: 1;
}
.modal-active .modal__dialog {
  transform: translateY(0);
}

.modal--has-scroll .modal__dialog-header,
.modal--has-scroll .modal__dialog-footer {
  -webkit-box-shadow: 0 0px 6px #ccc;
  -moz-box-shadow: 0 0px 6px #ccc;
  box-shadow: 0 0px 6px #ccc;
}

.modal__dialog-header {
  display: flex;
  align-items: center;
  gap: 32px;
}
.modal__dialog-header-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modal__dialog-header-content h2 {
  width: 100%;
  font-size: 18px;
}
.modal__dialog-header-close {
  display: flex;
  align-items: center;
  height: 100%;
}
.modal__dialog-header-btn-close {
  width: 32px;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
}
.modal__dialog-header-btn-close:hover {
  opacity: 0.5;
}

.modal__dialog-header,
.modal__dialog-body {
}
.modal__dialog-body {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  padding: 16px;
  flex-grow: 1;
  overflow: auto;
  background: transparent;
  transition: var(--modal-transition);
  justify-content: space-between;

  background: transparent;
  transition: var(--modal-transition);
}

.modal__dialog-header,
.modal__dialog-footer {
  z-index: 21;
  background: transparent;
  transition: var(--modal-transition);
}
.modal__dialog-footer {
  display: flex;
  margin-top: auto;
  min-height: 40px;
  background: #fff;
}

/*ИНДИКАТОР ФОРМЫ*/

/* Hide all steps by default: */
.tab {
  display: block;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: seagreen;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #dfc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
